/* Variables Declarations */
:root {
    // Colors
    --primary-color: #3396C0;
	--secondary-color: #CD006B;
	--third-color: #EEE325;
    --primary-txt-color: black;
    --secondary-txt-color: white;
    --contact-bg-lightblue: #E6F4FB;
    --bg-footer: #28363D;

    // Fonts
    --main-font-family: 'Roboto', sans-serif;
    --second-font-family: 'Roboto Slab', sans-serif;
    --main-font-size: 16px;
    --main-font-weight: 900;
}

/*** BODY ***/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: 1;
}

section {
    margin-block: 6em;
}

.container {
    max-width: 1440px;
    margin-inline:auto;
    padding-inline: 5%;
}

.btn {
    background-color: var(--primary-color) ;
    padding: 16px 32px;
    margin-inline:5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}  

.devis {
    background-color: var(--secondary-color);
}

ul {
    list-style: none;
}

p,
li {
    line-height: 26px;
}


/*** HEADER ***/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    .logo {
        width: 260px;
        margin-block: 10px;
    }
}


/*** MAIN ***/
section {
	margin-block: 6em;
}

h2 {
    font-family: var(--second-font-family);
    font-weight: var(--main-font-weight);
    font-size: 40px;
    margin-block: 1em;
}

h3 {
    font-family: var(--second-font-family);
    font-weight: var(--main-font-weight);
    font-size: 22px;
    margin-block: 1em;
}


//Carrousel
.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 470px;
	position: relative;
    & .arrow {
        position: absolute;
        & .arrow_left {
            left: 10px;
        }
        & .arrow_right {
            right: 10px;
        }
    }
    & .banner-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: center;
    }
    & p {
        font-weight: var(--main-font-weight);
        font-size: 50px;
        line-height: 66px;
        color: var(--secondary-txt-color);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        & span {
            font-weight: 400;
            font-size: 30px;
        }
    }
    & .dots {
        position: absolute;
        bottom: 40px;
        display: flex;
        & .dot {
            margin-inline: 5px;
            width: 13px;
            height: 13px;
            background-color: #ffffff00;
            border: 3px solid #fff;
            border-radius: 100%;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
        }
        & .dot_selected {
            background-color: #fff;
        }
    }
}


//About-Us
.about-us {
    display: flex;
    & div,
    & aside {
        flex: 1;
    }
    & li {
        background: url("./images/tricolor-icon.png") no-repeat left top;
	    font-size: 16px;
	    line-height: 26px;
	    padding-left:2em;
	    width: 65%;
	    margin-bottom: 1em;
    }
}

//Products
.products {
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
    & div,
    & aside {
        flex:1;
    }
    & div {
        padding: 0 6em; 
    }
    & h2 {
        margin-top: 0;
    }
}

//Question
.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 3em;
    background-color: var(--third-color);
    & h2 {
        margin-bottom: 10px;
    }
    & p {
        margin-bottom: 20px;
    }
}

//Why-Us
.why-us {
	display: flex;
	flex-direction: column;
	text-align: center;
    & div {
        display: flex;
        justify-content: space-evenly;
        & article {
            max-width: 320px;
            display: flex;
            flex-direction: column;
            & img {
                width: 33%;
                height: 150px;
                text-align: center;
                margin-inline: auto;
                margin-block: 0;
                object-fit: contain;
            }
        }
    }
}

//Contact
.contact {
	margin-bottom: 0;
    background-color: var(--contact-bg-lightblue);
    & .container {
        flex-direction: row;
        display: flex;
        padding: 6em ;
        & div {
            flex: 1;
            & div {
                display: flex;
                padding-bottom: 20px;
                & h3 {
                    margin-top: 0;
                    background: url("./images/tricolor-icon.png") no-repeat left top;
                    padding-left:1.5em;
                    width: 200px;
                }
                & .inline-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}


/*** FOOTER ***/
footer {
	background-color: var(--bg-footer);
	color: white;
	display: flex;
	padding-block: 3em;
	justify-content: space-evenly;
	font-size: 12px;
	align-items: center;
    & div {
        position: relative;
        & .footer-contact {
            margin-bottom: 1em;
            font-weight: 700;
            font-size: 16px;
        }
        & .footer-logo {
            background-color: white;
            max-width: 308px;
            padding: 10px;
        }
    }
}

/*** MEDIA QUERIES ***/
@media all and (max-width: 1250px) {
	.contact > article {
		flex: 2;
	}
}