/* Variables Declarations */
:root {
    // Colors
    --primary-color: #3396C0;
	--secondary-color: #CD006B;
	--third-color: #EEE325;
    --primary-txt-color: black;
    --secondary-txt-color: white;

    // Fonts
    --txt-family: 'Roboto Slab', sans-serif;
    --main-font-size: 16px;
    --main-font-weight: 900;
}

